{% extends 'layout.html.twig' %}

{% block content %}
<!-- **********************************************************************************************************************************************************
	MAIN CONTENT
	*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">

		<h3><i class="fa fa-angle-right"></i> Suivi de {{ project.intitule }}</h3>

		<div class="row">
			<div class="col-lg-5">
				<div class="row">
					<div class="form-panel">
						<table class="table table-bordered table-striped table-condensed">
							<tbody>
								<tr><th>Intitulé</th><td>{{ project.intitule }}</td></tr>
								<tr><th>Description</th><td>{{ project.description }}</td></tr>
								<tr><th>Type</th><td>{{ project.type }}</td></tr>
								<tr><th>Date de création</th><td>{{ project.dateCreation|date('d-m-Y') }}</td></tr>
								<tr><th>Livré ?</th><td>{% if project.livre %}Oui{% else %}Non {% endif %}</td></tr>
								<tr><th>Coût total</th><td>{{ cost.0.cout }}€</td></tr>
							</tbody>
						</table>
						{% if project.livre == false %}
						<a class="btn btn-success btn-sm" href="{{ path('project_edit', {'id': project.id, }) }}">Modifier</a>
						<a class="btn btn-danger btn-sm" href="{{ path('project_delete', {'id': project.id }) }}">Supprimer</a>
						{% endif %}
					</div>
				</div>

				{% if project.livre == false %}
				{% include "app/projects/components/addTime.html.twig" %}
				{% endif %}

			</div>
			<div class="col-lg-7 main-chart">
				<h4>Historique des temps de production :</h4>
				<table class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th>Employé</th>
							<th>Temps</th>
							<th>Date de saisie</th>
							<th>Coût total</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for employee in pagination %}
						<tr>
							<th><a href="{{ path('employee_time', {'id': employee.eid }) }}"
								   {% if (employee.status == 0) %} 
										style="text-decoration:line-through" 
									{% endif %}>
									{{ employee.prenom }} {{ employee.nom | upper }}
								</a></th>
							<th> {{ employee.day }}</th>
							<th>{{ employee.dateAjout|date('d-m-Y') }}</th>
							<th> {{ employee.cout }}€</th>
							<th>
								<!-- Trigger the modal with a button -->
								<button type="button" 
										class="btn btn-danger btn-xs" 
										data-toggle="modal" 
										data-target="#modalDelete"
										data-id="{{ employee.id }}"
										data-name="{{ employee.prenom }} {{ employee.nom | upper }}"
										data-link="/timeDelete/"
										>
									<i class="fa fa-trash-o"></i>
								</button>
							</th>
						</tr>

						{% endfor %}

					</tbody>
				</table>

				{# display navigation #}
				{{ knp_pagination_render(pagination) }}

			</div>
		</div>
		<!--/row -->
	</section>
</section>

<!--main content end-->

{% endblock %}
