{% extends 'layout.html.twig' %}

{% block content %}
    <!-- ********************************************************************************************************************************************************** MAIN CONTENT *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">

            <h3>
                <i class="fa fa-angle-right"></i>
                Gestion des projets</h3>
            <a class="btn btn-success btn-sm pull-right" href="{{ path('project_edit', {'id': 0 }) }}">Ajouter un projet</a>

            <div class="row">
                <div class="col-lg-12 main-chart">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Dénomination</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Date de création</th>
                                <th>Livré ?</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for project in projects %}
                                <tr>
                                    <th>{{ project.intitule }}</th>
                                    <th>{{ project.description }}</th>
                                    <th>{{ project.type }}</th>
                                    <th>{{ project.dateCreation|date('d-m-Y') }}</th>
                                    <th>
                                        {% if project %}Oui{% else %}Non{% endif %}
                                    </th>
                                    <th>
                                        <a href="#" class="btn btn-success btn-xs">
                                            <i class="fa fa-clock-o"></i>
                                        </a>
                                        <a href="#" class="btn btn-primary btn-xs">
                                            <i class="fa fa-pencil"></i>
                                        </a>


                                        <!-- Trigger the modal with a button -->
                                        <button type="button" 
                                                class="btn btn-danger btn-xs" 
                                                data-toggle="modal" 
                                                data-target="#modalDelete"
                                                data-id={{ project.id }}
                                                data-name="{{ project.intitule }}"
                                                data-link="/projectDelete/"
                                                >
                                                <i class="fa fa-trash-o"></i>
                                        </button>
                                    </th>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

                {# display navigation #}
                {{ knp_pagination_render(pagination) }}

            </div>
            <!--/row -->
        </section>
    </section>



    <!--main content end-->
{% endblock %}